*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}
.malatya-text{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16pt;
    border: 3px solid orange;
   padding: 20px;
   border-radius: 10px;
   background-color: orange;
   color: white;

}
.malatya-span{
    font-style: italic;
    font-weight: 600;
    color: black;
}
.malatya-span:hover{
    color: rgb(141, 92, 0);
    cursor: pointer;
}
.malatya-button{
    width: 150px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    color: black;
    background-color: orange;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 14pt;

}
.malatya-button:hover{
    color: orange;
    background-color: black;
    transition: all 0.3s;
}
.malatya-link{
    text-decoration: none;
    color: black;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 10px;
}
.malatya-link:hover{
    color: orange;
    background-color: black;
    transition: 0.3s;
}
.image-box{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 20px;
}
hr{
    width: 100%;
    margin-top: 20px;
}
.malatya-header-2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    text-align: center;
}
.list{
    margin-left: 10%;
}
.ul{
   list-style-type:none;
}
.ul > li {
    color: orange;
    font-size: 16pt;
}
.ol{
    margin-top: 20px;
}